.footer {
    height: 630px;
    width: 100%;
    position: relative;
        &__info {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            width: 460px;
            height: 270px;
            background-color: #C70101;
            padding: 50px 0 60px 0;
            text-align: center;
        }

        &__addr {
            margin-bottom: 36px;
            font-family: MuseoModerno;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            color: $color_white;
        }

        &__phone {
            display: block;
            font-family: MuseoModerno;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: $color_white;
            text-decoration: none;
            margin-bottom: 36px;
            transition: all .1s linear;
                &:hover {
                    color: #c0b5b5;
                }
        }

        &__social-item {
            margin: 0 10px;
        }
}
