.header {
    width: 100%;
    
   
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
        
        &__logo {
		}

		&__text1 p {
            font-family: "MuseoModerno", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            margin: 0;
            color: #fff;
            margin-bottom: 5px;
		}
        

		&__text2 p {
            font-family: "MuseoModerno", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            margin: 0;
            color: #fff;
		}
}
.container {
}
.row {
    align-items: center;
    height: 75px;
}
.col-md-3 {
}
.offset-md-1 {
}
.tel {
    font-family: "MuseoModerno", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    
}

.tel:hover {
    color:rgb(202, 194, 194);
}
.col-md-2 {
}
.btn {
    border: none;
    background-color: $dark_red;
    color: #fff;
    font-family:'MuseoModerno';
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    transition: all .2s linear;
    text-transform: uppercase;
}

.btn:hover {
    background: rgb(247, 25, 25);
}
.btn--top {
    width: 153px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;

}
.but {
    text-align: right;
}