.intro {
background: url("../img/intro/bg.png") center (center/cover) no-repeat;
padding-top: 150px;
min-height: 647px;
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    &__title {
        font-family: "MuseoModerno", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: $color_white;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-family: MuseoModerno;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: $color_white;
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
    }

    &__item {
        text-align: center;
       
    }

    &__icon {
        margin-bottom: 20px;
        height: 46px;
    }

    &__text {
        font-family: "MuseoModerno";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: $color_white;
        text-align: center;
        width: 136px;
        height: 29px;
        margin-bottom: 65px;
        padding: 0 15px;
    }

    &__button {
        
    }
    &__link {
        text-transform: uppercase;
        color: $color_white;
        text-align: right;
        font-family: MuseoModerno;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        transition: all .2s linear;
    }

    &__link:hover {
        color: rgb(182, 174, 174);
    }
    &__linked {
        text-align: right;
    }
    &__linked span {
        text-align: right;
        color: $color_white;
    }
}
.container {
}
.btn {

}
.btn--intro {
    width: 300px;
    height: 50px;
    font-family: "MuseoModerno", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}
