$dark_red: #C70101;
$color_white: #fff;
$light_black: #0D0D0D;
$gray: #6B6B6B;
* {
    font-family: "MuseoModerno";
}
.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}
@import "header";
@import "intro";
@import "benefits";
@import "consultation";
@import "forms";
@import "carousel";
@import "catalog";
@import "reviews";
@import "footer";
@import "modal";
    


  

   

